
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 10px
    }

    div.gallery {
    border: 1.5px solid #ccc;
    justify-content: center;
    align-items: center;
    width: 130px;

    }

    div.gallery:hover {
    
    background-color: #D9D9D9;
    }

    div.gallery img {
    width: 20;
    height: 20;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }

    
    div.desc {
    padding: 15px;
    text-align: center;
    }

    * {
    box-sizing: border-box;
    }

    .responsive {
    padding: 15px;
    float: left;
    width: 20%;
    pointer-events: auto;
    
    }

    @media only screen and (max-width: 700px) {
    .responsive {
        width: 10%;
        margin: 10px 0;
    }
    }
 
    @media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
    }

    .clearfix:after {
    content: "";
    display: table;
    clear: both;
    }
    
