/* Gaya dasar untuk halaman HTML */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

/* Gaya untuk denah warehouse */
.warehouse {
    width: 1200px; /* Ubah sesuai kebutuhan lebar denah */
    height: 600px; /* Ubah sesuai kebutuhan tinggi denah */
    margin: 0 auto;
    position: relative;
    background-color: #d9d9d9;
}

/* Gaya untuk setiap ruangan dalam warehouse */
.room {
    width: 350px; /* Ubah sesuai kebutuhan lebar ruangan */
    height: 30px; /* Ubah sesuai kebutuhan tinggi ruangan */
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    border: 1px solid #ffffff;
    margin-top: 10px; /* Ubah sesuai kebutuhan jarak atas */
    margin-bottom: 10px;
}

/* Penataan posisi ruangan dalam warehouse */
.room:nth-child(1) {
    top: 70px;
    left: 180px;
}

.room:nth-child(2) {
    top: 70px;
    width: 500px;
    right: 120px;
}

.room:nth-child(3) {
    top: 120px;
    width: 410px;
    left: 120px;
}

.room:nth-child(4) {
    top: 120px;
    width: 500px;
    right: 120px;
}

.room:nth-child(5) {
    top: 170px;
    width: 410px;
    left: 120px;
}

.room:nth-child(6) {
    top: 170px;
    width: 500px;
    right: 120px;
}

.room:nth-child(7) {
    top: 220px;
    width: 410px;
    left: 120px;
}

.room:nth-child(8) {
    top: 220px;
    width: 500px;
    right: 120px;
}

.room:nth-child(9) {
    top: 270px;
    width: 410px;
    left: 120px;
}

.room:nth-child(10) {
    top: 270px;
    width: 500px;
    right: 120px;
}

.room:nth-child(11) {
    top: 320px;
    width: 410px;
    left: 120px;
}

.room:nth-child(12) {
    top: 320px;
    width: 500px;
    right: 120px;
}

.room:nth-child(13) {
    top: 370px;
    width: 410px;
    left: 120px;
}

.room:nth-child(14) {
    top: 370px;
    width: 500px;
    right: 120px;
}

.room:nth-child(15) {
    top: 420px;
    width: 500px;
    right: 120px;
}

.room:nth-child(16) {
    top: 450px;
    width: 500px;
    height: 90px;
    right: 120px;
    background-color: #7a7c7e;
}

.room:nth-child(17) {
    top: 540px;
    width: 500px;
    right: 120px;
}

.room:nth-child(18) {
    top: 150px;
    width: 70px;
    height: 300px;
    left: 0px;
    background-color: #e11c0e;
}

.room:nth-child(19) {
    top: 420px;
    left: 240px;
    height: 60px;
    width: 290px;
}

.room:nth-child(20) {
    top: 420px;
    left: 120px;
    height: 120px;
    width: 120px;
    background-color: #0ee10e;
}

.room:nth-child(21) {
    top: 450px;
    height: 120px;
    width: 100px;
    right: 1px;
    background-color: #8af28a;
}

.room:nth-child(22) {
    top: 480px;
    left: 241px;
    height: 90px;
    width: 180px;
    background-color: #79d5f9;
}

.room:nth-child(23) {
    top: 480px;
    left: 421px;
    height: 90px;
    width: 110px;
    background-color: #fbff15;
}

.room:nth-child(24) {
    top: 540px;
    left: 120px;
    height: 30px;
    width: 120px;
    background-color: #666468;
}